@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(26, 137, 241);
}

header > h1 {
    text-align: center;
    padding: 10px 0px;
    color: white;
}

section {
    width: 60%;
    max-width: 300px;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.452);
}

input {
    margin: 5px 0px;
}

input[type=number] {
    border-radius: 5px;
    border: 2px solid black;
    width: 97.5%;
    height: 20px;
    padding-left: 5px;
    margin-bottom: 10px;
}

input[type=button] {
    background-color: green;
    width: 70%;
    height: 30px;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px 0px;
    margin-left: 15%;
}

input[type=button]:hover {
    background-color: rgb(2, 78, 2);
}

footer > p {
    display: block;
    text-align: center;
    padding: 10px 0px;
    color: white;
    font-style: italic;
}

div#resultado {
    margin: auto;
    text-align: center;
}

div#resultado > img {
    margin-top: 10px;
    width: 200px;
    border: 2px solid rgb(145, 140, 140);
    border-radius: 50%;
}