@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(14, 119, 238);
}

header {
    text-align: center;
    color: white;
}

header > h1 {
    padding: 20px 0px;
}

main {
    padding: 0px 10px 0px 10px;
}

main > section {
    background-color: white;
    min-width: 300px;
    max-width: 500px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
    padding: 10px 0px;
}